// Заголовки, загальні БЕМ блоки та інше...
.page {

   &__main {
   }
}

//=========Title====================================================================================

.title {
   font-size: rem(40);
   color: #ffff;
   line-height: math.div(49, 40);
   text-transform: uppercase;
}

.icon-menu {
   
}
