//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: rem(80);
		padding: rem(0) rem(15) rem(0) rem(15);
		@media (max-width:$mobile){
			 margin-top: rem(5); 
		}
	}
}

.body-menu {
	position: relative;
	width: 100%;
	display: flex;
	gap: rem(40);
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	padding: rem(0) rem(0) rem(0) rem(8);
	// @media (max-width:$mobile){
	// 	 align-items: center; 
	// 	 flex-wrap: wrap;
	// }
	
	&__item {
		font-size: rem(14);
		transition: text 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
				opacity: 0.85;
			}
		}
	}

	&__gender {
		display: flex;
		gap: rem(10);
		font-size: 14px;
		font-weight: 600;
		line-height: math.div(17, 14);
		@media (max-width:$mobile){
			display: flex;
			 flex-wrap: wrap; 
		}
	}

	&__logo {
		background-color: #fff;
		align-items: center;
		@media (max-width:$mobile){
			position: fixed;
			z-index: 5;
			top: rem(20);
			left: 37%;
		}
	}

	&__search {
			display: flex;
		@media (max-width:$mobile){
			align-items: center;
			position: fixed; 
		 	z-index: 10;
			top: rem(30);
		  	right: rem(15);
		}
	}

	&__icons {
		display: flex;
		gap: rem(21);
		@media (max-width:$mobile){
			flex-wrap: wrap-reverse;	  
		}
	}
		@media (max-width:$mobile){
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%; 
		height: 100%;
		flex-wrap: wrap;
		overflow: auto;
		transition: left 0.3s ease 0s;
		background-color: #ffffffd2;
		padding: rem(80) rem(15) rem(30) rem(15);
  &::before{
	  content: "";
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: rem(80);
	  background-color: rgba(227, 231, 233, 0.726);
	  z-index: 2;
  }
		.menu-open & {
			left: 0;
		  &::before{
			  left: 0;
		  }
		}
 	}	
}

.gender {
	&__link-woman {
		transition: text 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
				opacity: 0.85;
			}
		}
	}

	&__link-man {
		transition: text 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
				opacity: 0.85;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}


