//====================================================================================================

//====================================================================================================

.main-page {
   position: relative;

   &__image-ibg {
      position: absolute;
     	width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
   }

   &__body {
    padding-bottom: rem(310);
      @include adaptiveValue("padding-top", 310, 120);
      // @media (max-width:$mobile){
      //    padding: rem(200) rem(0); 
      // }
      // @media (max-width:$mobileSmall){
      //    padding: rem(120) rem(0); 
      // }
 
   }

   &__title {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #fff;
      @include adaptiveValue("font-size", 40, 25);
      
    }
}
